<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<title>{{ page.title }}</title>
<meta name="description" content="{{ page.description }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/icon/apple-touch-icon.png" | absolute_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/icon/favicon-32x32.png" | absolute_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/icon/favicon-16x16.png" | absolute_url }}">
<link rel="manifest" href="{{ "/assets/icon/manifest.json" | absolute_url }}">
<link rel="mask-icon" href="{{ "/assets/icon/safari-pinned-tab.svg" | absolute_url }}" color="#5bbad5">
<link rel="shortcut icon" href="{{ "/assets/icon/favicon.ico" | absolute_url }}">
<meta name="msapplication-config" content="{{ "/assets/icon/browserconfig.xml" | absolute_url }}">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" href="{{ "/css/main.css" | absolute_url }}" />
<link rel="stylesheet" href="{{ "/css/custom.css" | absolute_url }}" />
<noscript><link rel="stylesheet" href="{{ "/css/noscript.css" | absolute_url }}" /></noscript>
<link rel="stylesheet" href="{{ "/css/jquery.fancybox.min.css" | absolute_url }}" />
<!--
<link rel="stylesheet" href="{{ "/css/font-awesome.min.css" | absolute_url }}" />
<link rel="stylesheet" href="{{ "/assets/css/fontawesome.css" | absolute_url }}" />
-->
{% if page.custom_css %}
  {% for stylesheet in page.custom_css %}
    <link rel="stylesheet" href="/assets/css/{{ stylesheet }}.css" media="screen" type="text/css">
  {% endfor %}
{% endif %}

