<!-- adapted from https://thinkshout.com/blog/2014/12/creating-dynamic-menus-in-jekyll/ -->
{% assign url_parts = page.url | split: '/' %}
{% assign url_parts_size = url_parts | size %}
{% assign docname = url_parts[1]  %}
{% assign tabname = url_parts[2]  %}
{% assign rm = url_parts | last %}
{% assign base_url = page.url | replace: rm  | append: '@' | remove: '/@' %}
{% assign upages = site[docname] | sort: "order" %}
<ul>
<!--<div class="dfn">{{tabname}}</div>-->
{% for node in upages %}
  {% if node.order  == 0  %} <!-- skip pages that have order = 0 -->
      {% continue %}
  {% endif %}
  {% if node.url contains base_url %}
    {% assign node_url_parts = node.url | split: '/' %}
    {% assign node_url_parts_size = node_url_parts | size %}
    {% assign filename = node_url_parts | last %}
    {% if url_parts_size == node_url_parts_size and filename != 'index.html' %}
      <li><a href='{{node.url}}'>{{node.title}}</a></li>
    {% endif %}
  {% endif %}
{% endfor %}
</ul> 
