.map-and-legend {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    justify-content: space-evenly;

    .map-container {
    }

    .legend-container {
        width: 300px;

        // All decendents of legend-container
        * {
            margin: 5px;
        }

        // Direct children of legend-container
        > * {
            margin: 10px;
        }
    }

    .legend-table {
        width: 300px;

        // Children of legend-table (rows/cols)
        * {
            padding: 5px;
        }
    }
}

.data-table-container {
    .data-table {
        padding: 5px;

        th,td {
            // (width = max width)
            width: 250px;

        }

        // All cells in institution column (institution)
        .institution {
            min-width: 210px;
        }

        // All cells in hostname column (nodes)
        .hostname {
            min-width: 210px;
        }
    }
}

.marker-label {
    text-align: center;
    font-weight: bold;
    color: white;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column;
}

.small-label-spacer {
    height: 4px;
}
.medium-label-spacer {
    height: 6px;
}
.large-label-spacer {
    height: 9px;
}

.small-marker-label {
    @extend .marker-label;
    width: 20px;
    height: 50px;
    font-size: 10pt;
    -webkit-text-stroke: 0.25px black;
}

.medium-marker-label {
    @extend .marker-label;
    width: 30px;
    height: 70px;
    font-size: 10pt;
    -webkit-text-stroke: 0.25px black;
}

.large-marker-label {
    @extend .marker-label;
    width: 35px;
    height: 90px;
    font-size: 10pt;
    -webkit-text-stroke: 0.25px black;
}
