---
layout: workshop
title: ""
date: 2018-12-14
workshop: lajolla2019
short: lajolla2019
img: lajolla2019/header.png
---

<form action="get" id="site_search">
  <input type="text" id="search_box">
  <input type="submit" value="Search">
</form>

<br/>

<ul id="search_results"></ul>

<script src="/assets//js/lunr.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/assets//js/search.js"></script>
