---
layout: default
---
<header class="post-header">
    <h2 class="post-title">{{ page.title }}</h2>
</header>
{{ page.content }}
{% assign pages = site[page.short] | sort: "title" %}
<div class="card-deck">
{% for service in pages %}
  {% if service.categories[0] == "namespace" %}
    <div class="card p-lg-0">
      {% if service.imagesrc %}<img class="card-img-top img-fluid" src="/images/namespaces/{{service.imagesrc}}">{% endif %}
      <a href="{{ service.url }}" class="card-link card-label bg-namespace" data-fancybox="{{ service.name }}" data-src="#{{ service.name }}">{{ service.title }}</a> 
      <div class="card-body">
        <font class="card-p card-label">{{service.institution}}: </font>
        <font class="card-tags">{% if service.tagline %}{{ service.tagline }}{% endif %}</font>
      </div>
    </div>
    <div  id="{{ service.name }}" class="p-5" style="display: none;max-width:600px;">
      <h3 class="card-title"> Namespace: &nbsp;&nbsp;  {{ service.title }} </h3>
      <b class="dfn">PI:</b> {{ service.pi }} <br>
      <b class="dfn">Institution:</b> {{ service.institution }} <br>
      <b class="dfn">Project description:</b><br>{{ service.content }}<br>
      <b class="dfn">Software:</b> {{ service.software }} 
    </div>
  {% endif %}
{% endfor %}
</div>
<p><a href="{{ page.url }}" class="button"> Back to top </a> </p>
