---
layout: default
---
<h4 class="card-title"> Namespace: &nbsp;&nbsp; {{page.title}}</h4>
<p>
  <font class="dfn">PI:</font>  {{page.pi}} <br>
  <font class="dfn">Institution:</font>  {{page.institution}}<br>
  <font class="dfn">Project description:</font>
  {{page.content}}
  <font class="dfn">Software:</font> {{ page.software }} 
</p>
<p><a href="/nautilus/namespaces" class="button"> Back to namespaces </a> </p>

